<div class="dialog-container">
    <button mat-icon-button mat-dialog-close>
        <i class="material-icons">close</i>
    </button>
    <mat-stepper headerPosition="top" #stepper>
        <mat-step [stepControl]="formFuturoCliente">
            <form [formGroup]="formFuturoCliente">
                <ng-template matStepLabel>Preencha o seu nome e telefone</ng-template>
                <div class="dual-input full-width">
                    <mat-form-field appearance="fill">
                        <mat-label>Nome</mat-label>
                        <input name="nome" matInput placeholder="Gabriel Braga" formControlName="nome" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Telefone</mat-label>
                        <input type="tel" name="telefone" matInput placeholder="(00)000000-00" formControlName="telefone" required>
                    </mat-form-field>
                </div>
                <div class="botao-next">
                    <button class="full-width" mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="formFuturoCliente">
            <form [formGroup]="formFuturoCliente">
                <ng-template matStepLabel>E-mail e CPF</ng-template>
                <div class="dual-input full-width">
                    <mat-form-field appearance="fill">
                        <mat-label>E-mail</mat-label>
                        <input type="email" name="email" matInput formControlName="email" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>CPF</mat-label>
                        <input name="cpf" matInput formControlName="cpf" required>
                    </mat-form-field>
                </div>

                <div class="dual-button">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext (click)="create()">Cadastrar</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>